#main{
	padding: 20px,30px;
    margin: 0 auto;
    position: relative; */
}
h1{
	margin: 0 auto;
    position: relative;
	
}
.tit {
		font-size: 16px;
		font-weight: bold;
        margin:auto
        
}
.tool-wrapper{
	color: aquamarine;
	height: 80px;
	width: 100%;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	line-height: 80px;
	position: relative;
}
.inner-block {
	padding: 0 20px;
}